* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #0d4633;
  }
  body {
    background-color: #f7f0da;
    font-family: "font-1";
    
  }
  @font-face {
    font-family: "font-1";
    src: url(../font/CJ+ONLYONE+Bold.ttf);
  }
  @font-face {
    font-family: "font-2";
    src: url(../font/CJ+ONLYONE+Medium.ttf);
  }

.join-box {
    width: 600px;
    height: auto;
    /* background-color: #0d4633; */
    margin: auto;
    text-align: center;
    color: #000;
  }
  h1{padding-top: 30px; font-size: 50px; color: #0d4633; text-shadow: 5px 5px 5px #000;}
  .join-box div{
      width: 600px;
      height: 100px;
      position: relative;
      
       
  }
  label{
     position: absolute;
     top: 30%;
     left: 25%;
     font-family: "";
     font-weight: bold;
     text-shadow: 1px 1px 5px #fff;
 
  }
  input{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    box-shadow: 1px 1px 5px #000;
  }
  #br{
    width: 90px;
    left: 31.8%;
  }
  #mm{
    width: 90px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px #000;
  }
  #ol{
    left: 68.2%;
    width: 90px;
    height: 40px;
  }
  #ph{
    width: 200px;
    left: 41.8%;
  }
  button{
    width: 80px;
    height: 40px;
    background-color: #0d4633;
    position: absolute;
    bottom: 0;
    left: 61%;
    color: #fff;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
  }
  .bt{
    width: 300px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0d4633;
    font-size: 18px;
  }

  @media (max-width:620px) {
    .join-box{
      width: 100%;
    }
    .join-box div{
      width: 100%
    }
    input{
      width: 50%;
    }
    label{
      width: 50%;
      
    }
    #mm{
      width: 15%;
    }
    #ol{
      width: 15%;
    }
    #br{
      width: 15%;
    }
    #ph{
      width: 40%;
    }
    button{
      width: 20%;
    }
  }